:root {
  --menu-color: #4a4a4a;
  --page-background-color: #3cdbc0;
  --text-color: #ffffff;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
.header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--text-color);
  z-index: 100;
}

.logo {
  width: 155px;
  padding: 10px 0;
}
.link-container {
  display: flex;
  justify-content: center;
  padding-bottom: 13px;
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--menu-color);
}
.link:hover {
  color: var(--page-background-color);
}

.blog {
  padding-right: 10px;
}
.contact {
  padding-left: 10px;
}

.main {
  background-color: var(--page-background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.content {
  font-size: 30px;
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
  line-height: 35px;
}
