:root {
  --menu-color: #4a4a4a;
  --page-background-color: #3cdbc0;
  --text-color: #ffffff;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--text-color);
  z-index: 100;
}

.logo {
  width: 155px;
  padding: 10px 0;
}

.link-container {
  display: flex;
  justify-content: center;
  padding-bottom: 13px;
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--menu-color);
}

.link:hover {
  color: var(--page-background-color);
}

.blog {
  padding-right: 10px;
}

.contact {
  padding-left: 10px;
}

.main {
  background-color: var(--page-background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.content {
  font-size: 30px;
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
  line-height: 35px;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .link-container {
    padding: 0;
  }

  .content {
    font-size: 40px;
    line-height: 45px;
  }
}
